$mainColorLight: #000037;
$mainColorDark: #000025;
$textColorLightNormal: #BBBBBB;
$textColorLightHover: #FFFFFF;

body {
    background-color: $mainColorLight;
}

.dSidebar {
    background-color: $mainColorDark;
}



.dSidebarItemList {
    $padding: 10px;
    padding-top: $padding;

    li  {
        padding-left: $padding;
        padding-right: $padding;
    }
}

.dSidebarItemText {
    text-indent: 5px;
    color: $textColorLightNormal;

    .dSidebarItemTextLarge {
        color: $textColorLightNormal;
        font-size: 26px;
    }

    &:hover {
        color: $textColorLightHover;
    }
}


.dSidebarHamburger {
    span {
        background-color: $textColorLightNormal;
    }

    &:hover {
        span {
            background-color: $textColorLightHover;
        }
    }
}
