$mainColorLight: #2F3136;
$mainColorDark: #1E2124;
$mainColorHighlight: $mainColorLight + #1E2328;
$textColorLightNormal: #FFFFFF;
$textColorLightHover: #FFFFFF;
$borderColorLightBright: $mainColorLight + #1E2328;
$borderColorLightDark: $mainColorLight - #17191B;

body {
    background-color: $mainColorLight;
}

.dTopbar {
    background-color: $mainColorDark;
    border-bottom: 1px solid $borderColorLightBright;
    padding: 5px;

    .dTitle {
        font-family: 'Marck Script', cursive;
        color: $textColorLightNormal;
        font-size: 26pt;

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

.dSidebar {
    background-color: $mainColorDark;
    border-right: 1px solid $borderColorLightDark;
    padding-top: 5px;
}

.dSidebarItemList {
    margin-bottom: 5px;
    padding-right: 5px;

    li {
        $padding: 10px;
        padding-left: $padding;
        padding-right: $padding;
        margin-bottom: 1px;
        background-color: $mainColorLight;
        border-top: 1px solid $borderColorLightBright;
        border-bottom: 1px solid $borderColorLightDark;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    li:hover {
        background-color: $mainColorHighlight;
    }
}

.dSidebarItemText {
    text-indent: 5px;
    color: $textColorLightNormal;

    .dSidebarItemTextLarge {
        color: $textColorLightNormal;
        font-size: 26px;
    }

    &:hover {
        color: $textColorLightHover;
    }
}


.dSidebarHamburger {
    span {
        background-color: $textColorLightNormal;
    }

    &:hover {
        span {
            background-color: $textColorLightHover;
        }
    }
}

.dMainContent {
    color: $textColorLightNormal;
}