$mainColorLight: #000037; //37
$mainColorDark: #000025; //25
$mainColorHighlight: $mainColorLight + #00001E;
$textColorLightNormal: #BBBBBB;
$textColorLightHover: #FFFFFF;
$borderColorLightBright: $mainColorLight + #1E1E1E;
$borderColorLightDark: $mainColorLight - #191919;

body {
    background-color: $mainColorLight;
}

.dSidebar {
    background-color: $mainColorDark;
    border-right: 1px solid $borderColorLightDark;
    padding-top: 10px;
}

.dSidebarItemList {
    margin-bottom: 5px;
    padding-right: 5px;

    li {
        $padding: 10px;
        padding-left: $padding;
        padding-right: $padding;
        margin-bottom: 1px;
        background-color: $mainColorLight;
        border-top: 1px solid $borderColorLightBright;
        border-bottom: 1px solid $borderColorLightDark;
    }

    li:hover {
        background-color: $mainColorHighlight;
    }
}

.dSidebarItemText {
    text-indent: 5px;
    color: $textColorLightNormal;

    .dSidebarItemTextLarge {
        color: $textColorLightNormal;
        font-size: 26px;
    }

    &:hover {
        color: $textColorLightHover;
    }
}


.dSidebarHamburger {
    span {
        background-color: $textColorLightNormal;
    }

    &:hover {
        span {
            background-color: $textColorLightHover;
        }
    }
}
