<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dolomite - @ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico" />

    <environment include="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/layout/sidebar.css" />
        <link rel="stylesheet" href="~/css/layout/flexContainer.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/layout/sidebar.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/layout/flexContainer.min.css" asp-append-version="true"/>
    </environment>

    @* Themes *@
    <link rel="stylesheet" href="~/css/themes/Depths.min.css" asp-append-version="true" />

    @* Fonts *@
    <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
</head>
<body>
    <div class="dTopbar">
        <div class="dTitle">Dolomite</div>
    </div>
    <div class="dSidebar">
        <ul class="dSidebarItemList">
            <li>
                <div class="dSidebarItemText">
                    <div class="dSidebarItemTextLarge">Menu</div>
                    <div class="dSidebarItemIcon">
                        <div class="dSidebarHamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="dSidebarItemText">This is text</div>
            </li>
        </ul>
        <ul class="dSidebarItemList">
            <li>
                <div class="dSidebarItemText">
                    New List
                </div>
            </li>
        </ul>
    </div>
    <div class="dMainContent container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Dolomite</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.js"></script>
        <script src="~/ts/sidebar.js" asp-append-version="true"></script>
    </environment>

    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
        <script src="~/ts/sidebar.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
