$transformDuration: .5s;
$easing: ease-in-out;
$sidebarWidth: 200px;

.dSidebar {
    margin-left: -$sidebarWidth;
    left: 80px;
    width: $sidebarWidth;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all $transformDuration $easing;
}

.dSidebarToggled {
    margin-left: -80px;
}

.dSidebarItemList {
    display: block;
    float: left;
    width: $sidebarWidth;
    list-style: none;
    margin: 0;
    padding: 0;
}

.dSidebarItemList li {
    height: 50px;
    transition: $transformDuration / 2 $easing;

    .dSidebarItemText {
        position: relative;
        display: flex;
        align-items: center;
        float: left;
        width: 100%;
        height: 100%;
        transition: $transformDuration $easing;

        .dSidebarItemIcon {
            display: flex;
            align-items: flex-end;
            position: absolute;
            right: 0px;
            top: 0px;
            width: calc(80% / 3);
            height: 80%;
        }
    }
}

.dMainContent {
    margin-left: 80px;
    transition: $transformDuration $easing;
}

.dMainContentToggled {
    margin-left: $sidebarWidth;
}

.dSidebarHamburger {
    width: 100%;
    height: 75%;
    position: relative;
    transform: rotate(0deg);
    transition: $transformDuration $easing;

    span {
        display: block;
        position: absolute;
        height: 15%;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: $transformDuration $easing;
    }

    span:nth-child(1) {
        top: 0%;
    }

    span:nth-child(2), span:nth-child(3) {
        top: 40%;
    }

    span:nth-child(4) {
        top: 80%;
    }

    &.open {
        span:nth-child(1) {
            top: 30%;
            width: 0%;
            left: 50%;
        }

        span:nth-child(2) {
            transform: rotate(45deg);
        }

        span:nth-child(3) {
            transform: rotate(-45deg);
        }

        span:nth-child(4) {
            top: 30%;
            width: 0%;
            left: 50%;
        }
    }
}

