.dSidebar {
  padding: 0px;
  height: 100vh;
  transition-timing-function: ease;
  position: fixed;
  width: 15%;
  left: -10%;
  transition: 0.5s ease-in-out;
  z-index: 15; }

.dSidebarToggled {
  left: 0%; }

.dSidebarItemList {
  list-style-type: none;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px; }

.dSidebarItemList li {
  display: flex;
  flex-direction: row;
  overflow: hidden; }
  .dSidebarItemList li .dSidebarItemText {
    flex: 2 0;
    word-wrap: break-word; }
  .dSidebarItemList li .dSidebarItemIcon {
    flex: 1 1;
    margin-left: auto;
    width: 50px; }

.dMainContent {
  margin-left: calc(5% - 10px);
  transition: 0.5s ease-in-out; }

.dMainContentToggled {
  margin-left: calc(15% - 10px); }

.dSidebarHamburger {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  transform: rotate(0deg); }
  .dSidebarHamburger span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out; }
  .dSidebarHamburger span:nth-child(1) {
    top: 0px; }
  .dSidebarHamburger span:nth-child(2), .dSidebarHamburger span:nth-child(3) {
    top: 18px; }
  .dSidebarHamburger span:nth-child(4) {
    top: 36px; }

.dSidebarHamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

.dSidebarHamburger.open span:nth-child(2) {
  transform: rotate(45deg); }

.dSidebarHamburger.open span:nth-child(3) {
  transform: rotate(-45deg); }

.dSidebarHamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

